{% extends "main/default.html" %}

{% block title %}View customer service stats{% endblock %}

{% block css %}
<style>
    .tableheight{
        max-height: 400px;
        overflow-y: scroll;

    }
</style>
{% endblock %}


{% block content %}
<h2>View customer service stats</h2>

<h5>Number of customers served by every employee in the department customer service</h5>
<div class="tableheight">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Name</th>
                <th scope="col">Number of served customers</th>
            </tr>
        </thead>
        <tbody>
            {% for line in customers %}
            <tr>
                <th scope="row">{{line.0}}</th>
                <td>{{line.1}}</td>
                <td>{{line.2}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block js %}
<script>

</script>
{% endblock %}