{% extends "main/default.html" %}

{% block title %}Home page{% endblock %}

{% block css %}
{% endblock %}


{% block content %}
hi
<!-- <button onclick="func()">
    press me
</button> -->

{% endblock %}


{% block js %}
<script>
    function func() {
        // make a request to api
        req = new XMLHttpRequest();
        req.open('GET', 'http://127.0.0.1:8000/healthdb/api/', true);
        req.send();
        // alert data
        req.onload = function () {
            alert(req.responseText);
        }
    }
</script>
{% endblock %}