{% extends "main/default.html" %}

{% block title %}View doctor info{% endblock %}

{% block css %}
<style>
    .input-group {
        max-width: 400px;
    }
</style>
{% endblock %}


{% block content %}
<h2>View information about a doctor</h2>

<form method="POST" onsubmit="return false;">
    {% csrf_token %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Doctor</span>
        <select name="doc" required class="form-select" id="docchoice">
            <option value="">Choose a doctor</option>
            {% for doctor in doctors %}
                <option value="{{doctor}}">{{doctor}}</option>
            {% endfor %}
        </select>
    </div>

    <button type="" class="btn btn-primary" onclick="getinfo()">Submit</button>

</form>
<br>
<div id="info">

</div>

{% endblock %}


{% block js %}
<script>
    function getinfo() {
        var doc = document.getElementById("docchoice").value;
        if (doc != "") {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "/healthdb/viewdoc/", true);
            xmlhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");

            xmlhttp.send(JSON.stringify({
                "doc": doc
            }));
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var text="";
                    text+="<h6>Name: "+data["first_name"]+" "+data["last_name"]+"</h6>"+
                    "<h6>Phone number: "+data["phone"]+"</h6>"+
                    "<h6>Specialization: "+data["specialization"]+"</h6>"+
                    "<h6>Doctor for " + data["years_worked"]+ " years</h6>"+
                    "<h6>Total operations: "+data["operations"]+"</h6>"+
                    "<h6>Total malpractices: "+data["nb_of_malpractices"]+"</h6>";

                    if (data["operations"] > 0) {
                        text+="<h6>Operations:</h6>"+
                        "<ul>";
                        for (var i=0; i<data["hospitals"].length; i++) {
                            text+="<li>"+data["numberofoperations"][i]+" operations in "+data["hospitals"][i]+" hospital</li>";
                        }
                        text+="</ul>";
                    }

                    document.getElementById("info").innerHTML = text;
                }
            }
            xmlhttp.onerror = function() {
                alert("An error occurred while trying to get the information.");
            }
        }
    }
</script>
{% endblock %}