{% extends "main/default.html" %}

{% block title %}View department info{% endblock %}

{% block css %}
<style>
    .input-group {
        max-width: 400px;
    }
</style>
{% endblock %}


{% block content %}
<h2>View information about a department</h2>

<form method="POST" onsubmit="return false;">
    {% csrf_token %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Department</span>
        <select name="dep" required class="form-select" id="depchoice">
            <option value="">Choose a department</option>
            {% for dep in departments %}
                <option value="{{dep}}">{{dep}}</option>
            {% endfor %}
        </select>
    </div>

    <button type="" class="btn btn-primary" onclick="getinfo()">Submit</button>

</form>
<br>
<div id="info">

</div>

{% endblock %}


{% block js %}
<script>
    function getinfo() {
        var dep = document.getElementById("depchoice").value;
        if (dep != "") {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "/healthdb/viewdep/", true);
            xmlhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");

            xmlhttp.send(JSON.stringify({
                "dep": dep
            }));
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var text="";
                    text+="<h6> Department name: "+data["name"]+"</h6>";
                    text+="<h6> Department extension: "+data["extension"]+"</h6>";
                    text+="<h6> Department floor number: "+data["floor"]+"</h6>";
                    text+="<h6> Department manager: "+data["managername"]+"</h6>";
                    text+="<h6> Department manager's SSN: "+data["manager_ssn"]+"</h6>";
                    text+="<h6> Number of employees: "+data["nb_of_employees"]+"</h6>";
                    text+="<h6> Employees:</h6>";
                    text+="<ul>";
                    for (var i=0;i<data["employees"].length;i++){
                        text+="<li>"+data["employees"][i][1]+" "+ data["employees"][i][2]+", "+ data["employees"][i][0] +"</li>";
                    }
                    text+="</ul>";

                    document.getElementById("info").innerHTML = text;
                }
            }
            xmlhttp.onerror = function() {
                alert("An error occurred while trying to get the information.");
            }
        }
    }
</script>
{% endblock %}