{% extends "main/default.html" %}

{% block title %}View hospital info{% endblock %}

{% block css %}
<style>
    .input-group {
        max-width: 400px;
    }
</style>
{% endblock %}


{% block content %}
<h2>View information about a hospital</h2>

<form method="POST" onsubmit="return false;">
    {% csrf_token %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Hospital</span>
        <select name="hos" required class="form-select" id="hoschoice">
            <option value="">Choose a hospital</option>
            {% for hospital in hospitals %}
                <option value="{{hospital}}">{{hospital}}</option>
            {% endfor %}
        </select>
    </div>

    <button type="" class="btn btn-primary" onclick="getinfo()">Submit</button>

</form>
<br>
<div id="info">

</div>

{% endblock %}


{% block js %}
<script>
    function getinfo() {
        var hos = document.getElementById("hoschoice").value;
        if (hos != "") {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "/healthdb/viewhos/", true);
            xmlhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");

            xmlhttp.send(JSON.stringify({
                "hos": hos
            }));
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var text="";
                    text+="<h6>Name: "+data["name"]+"</h6>"+
                    "<h6>ID: "+data["id"]+"</h6>"+
                    "<h6>Phone: "+data["phone"]+"</h6>"+
                    "<h6>Representative: "+data["rep"]+"</h6>"+
                    "<h6>Location: "+data["location"]+"</h6>"+
                    "<h6>Covered by: "+data["coverage"]+" plans</h6>";

                    document.getElementById("info").innerHTML = text;
                }
            }
            xmlhttp.onerror = function() {
                alert("An error occurred while trying to get the information.");
            }
        }
    }
</script>
{% endblock %}