{% extends "main/default.html" %}

{% block title %}View customer info{% endblock %}

{% block css %}
<style>
    .input-group {
        max-width: 400px;
    }
</style>
{% endblock %}


{% block content %}
<h2>View information about a customer</h2>

<form method="POST" onsubmit="return false;">
    {% csrf_token %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Customer</span>
        <select name="cus" required class="form-select" id="cuschoice">
            <option value="">Choose a customer</option>
            {% for cus in customers %}
                <option value="{{cus}}">{{cus}}</option>
            {% endfor %}
        </select>
    </div>

    <button type="" class="btn btn-primary" onclick="getinfo()">Submit</button>

</form>
<br>
<div id="info">

</div>

{% endblock %}


{% block js %}
<script>
    function getinfo() {
        var cus = document.getElementById("cuschoice").value;
        if (cus != "") {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "/healthdb/viewcus/", true);
            xmlhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");

            xmlhttp.send(JSON.stringify({
                "cus": cus
            }));
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var text="";
                    text+="<h6>Name: "+data["first_name"]+" "+data["last_name"]+"</h6>"+
                    "<h6>SSN: "+data["ssn"]+"</h6>"+
                    "<h6>Address: "+data["address"]+"</h6>"+
                    "<h6>Phone number: "+data["phone"]+"</h6>"+
                    "<h6>Birthdate: "+data['dob']+"</h6>"+
                    "<h6>Age: "+data['age']+"</h6>";
                    if (data['b_phone'] != null) {
                        text+="<h6>Broker: "+data['brokername']+"</h6>"+
                        "<h6>Broker phone number: "+data['b_phone']+"</h6>";
                    }
                    text+="<h6>Employee: "+data["employee"]+"</h6>"+
                    "<h6>Employee assigned on: "+data["date_of_assignment"]+"</h6>";
                    if (data["familymembers"].length > 0) {
                        text+="<h6>Number of family members: "+data["numberfamilymembers"]+"</h6>";
                        text+= "<h6>Family members: </h6><ul>";
                        for (var i=0; i<data["familymembers"].length; i++) {
                            text+="<li>"+data["familymembers"][i][0]+" "+data["familymembers"][i][1]+", "+data["familymembers"][i][2]+" years old,"+ data["familymembers"][i][3]+"</li>";
                        }
                    }

                    document.getElementById("info").innerHTML = text;
                }
            }
            xmlhttp.onerror = function() {
                alert("An error occurred while trying to get the information.");
            }
        }
    }
</script>
{% endblock %}